.alphabet {
  margin: 40px;
}

.letter {
  font-family: "AcromRegular";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  color: var(--blackTwoColor);
}

.alphabet-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
